{%- block form_row -%}

    <div class="ui inverted field">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="ui error message">
            {%- for error in errors -%}
            <p>
                {{ error.message }}
            </p>
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}

    {# Search if a field has errors, because form.vars.errors not exists #}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'class' %}
            {% for element in form %}
                {% if element.vars.errors is defined and element.vars.errors|length > 0 %}
                    {% set attr = attr|merge({'class': attrvalue ~ ' error '}) %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}