{% extends 'layout/session.html.twig' %}

{% block body %}

    <div class="ui container">
        <div class="ui two column centered grid padded vh100 middle aligned doubling">
            <div class="column">
                <div class="ui header top attached inverted">
                    <span class="ui inverted header h3">
                        {{ 'label.register' | trans }}
                    </span>
                    <a href="{{ url('app_login') }}">{{ 'label.existing_account_login' | trans }}</a>
                </div>
                <div class="ui attached segment inverted">
                    <div class="ui content">

                        {% include 'partials/flash.html.twig' %}

                        {% form_theme registrationForm 'form/fields.html.twig' %}

                        {{ form_start(registrationForm, {'method': 'post', 'action': path('register'), 'attr': {'class': 'ui form inverted', 'novalidate':'novalidate'}}) }}
                        {# {{ form_widget(form, {'attr':{'class':'field'}}) }} #}
                        <div class="two fields">
                            <div class="field">
                                {{ form_row(registrationForm.username, {'attr': {'class' : ''}}) }}
                            </div>
                            <div class="field">
                                {{ form_row(registrationForm.plainPassword, {'attr': {'class' : 'field'}}) }}
                            </div>
                        </div>

                        <div>
                            <input class="ui green button" type="submit" value="{{ 'btn.register'|trans }}"/>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}