<h1>{{ 'email.hi' | trans }}{# Hi! #}</h1>

<p>{{ 'email.to_reset_follow_link' | trans }}{# To reset your password, please visit the following link #}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
