{% extends 'layout/session.html.twig' %}

{% block title %}{{ 'page_title.reset_password' | trans }}{% endblock %}

{% block body %}

    <div class="ui container">
        <div class="ui two column centered grid padded vh100 middle aligned doubling">
            <div class="column">
                <div class="ui header top attached inverted">
                    <span class="ui inverted header h3">
                        {{ 'title.reset_password.request' | trans }}
                    </span>
                    <a href="{{ url('app_login') }}">{{ 'label.login' | trans }}</a>
                </div>
                <div class="ui attached segment inverted">
                    <div>

                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}

                        {% form_theme requestForm 'form/fields.html.twig' %}

                        {{ form_start(requestForm, {method: 'post', attr:{class:'ui inverted form' , novalidate:'novalidate'}}) }}

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {{ form_row(requestForm.email) }}

                        <input type="submit" id="_submit" name="_submit" class="ui green button"
                               value="{{ 'btn.send_rest_password_email'|trans }}"/>

                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
