/*!
 * # Fomantic UI - Emoji
 * https://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * https://github.com/fomantic/Fomantic-UI/blob/master/LICENSE.md
 *
 */


/*******************************
            Theme
*******************************/

@type: 'element';
@element: 'emoji';

@import (multiple) '../../theme.config';


/*******************************
             Emoji
*******************************/


em[data-emoji] {
  opacity: @opacity;

  speak: none;
  backface-visibility: hidden;
}

em[data-emoji]:before {
  content: '\00A0\00A0\00A0\00A0\00A0\00A0\00A0';
  display: inline-block;
  line-height: @emojiLineHeight;
  background-repeat: no-repeat;
  background-position: center center;

  & when not (@emojiFileType = 'svg') {
    background-size: contain;
  }
}


/*******************************
             States
*******************************/

em[data-emoji].disabled {
  opacity: @disabledOpacity;
}


/*******************************
           Variations
*******************************/

em[data-emoji].loading:before {
  animation: loader @loadingDuration linear infinite;
}


/*-------------------
         Link
--------------------*/

em[data-emoji].link:not(.disabled) {
  cursor: pointer;
}

.loadUIOverrides();
