{% extends 'layout/public.html.twig' %}
{% block title %}
    {{ 'page_title.series.detail'|trans }}
{% endblock %}
{% block content %}

    <div class="ui grid center aligned container">
        <div class="column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid left aligned container" id="public_series">
        <div class="column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ series.name }}
                </h3>
                <div class="ui attached segment inverted">
                    <div class="ui grid stackable">
                        <div class="sixteen wide tablet screen six wide large screen four wide widescreen column">
                            <div class="main-image">
                                {% if series.image %}
                                    <img src="{{ url('render_image', {'id': series.image.id}) }}" alt="series main image">
                                {% endif %}
                            </div>
                        </div>
                        <div class="sixteen wide tablet screen ten wide large screen twelve wide widescreen column">
                            <div class="ui inverted relaxed divided list">
                                {% if series.additionalNames is not null %}
                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ "label.additionnal_name" | trans }}</div>
                                        {{ series.additionalNames }}
                                    </div>
                                </div>
                                {% endif %}
                                {% if series.author is not null %}
                                    <div class="item">
                                        <div class="content">
                                            <div class="header">{{ "label.author" | trans }}</div>
                                            <a href="{{ url('public_series_list_a', {'authorOrArtist': series.author}) }}">{{ series.author }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if series.artist is not null %}
                                    <div class="item">
                                        <div class="content">
                                            <div class="header">{{ "label.artist" | trans }}</div>
                                            <a href="{{ url('public_series_list_a', {'authorOrArtist': series.artist}) }}">{{ series.artist }}</a>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ "label.tags.txt" | trans }}</div>
                                        {% for tags in series.tags %}
                                        {% if not loop.first %}
                                            |
                                        {% endif %}
                                        <a href="{{ url('public_series_list_tags', {'tags': tags}) }}">
                                            {{ tags }}
                                        </a>
                                        {% endfor %}<br>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="header">{{ "label.synopsis" | trans }}</div>
                                        {% if series.description is not null %}
                                            {{ series.description | nl2br }}
                                        {% else %}
                                            {{ "no_synopsis_yet" | trans }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="ui inverted relaxed divided">
                                    {% if seriesFollowed %}
                                        <a href="{{ url('public_series_unfollow', {id: series.id}) }}"
                                           class="ui vertical animated mini red button delete">
                                            <div class="hidden content">
                                                {{ 'btn.unfollow'|trans }}
                                            </div>
                                            <div class="visible content">
                                                {{ 'btn.followed'|trans }}
                                            </div>
                                        </a>
                                    {% else %}
                                        <a href="{{ url('public_series_follow', {id:series.id}) }}"
                                           class="ui button green">{{ 'btn.follow'|trans }}</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="ui grid left aligned container" id="public_series_chapters">
        <div class="column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.chapter.list' | trans }}
                </h3>
                <div class="ui attached segment inverted">

                    {{ include('partials/chapter-list.html.twig', {chapters: series.chapters}) }}

                </div>
            </div>
        </div>
    </div>


{% endblock %}