<div class="ui list inverted">
    {% for follow in follows.currentPageResults %}
        {{ include('backend/partials/follow_dashboard_item.html.twig', {series:follow.series}) }}
    {% endfor %}
</div>

<div class="ui row">
    <div class="ui right floated">
        <a href="{{ url('admin_profile_follows', {page:1}) }}" class="ui tiny button teal">
            {{ 'admin.follows.go'|trans }}
        </a>
    </div>
</div>